* {
  margin: 0;
  padding: 0;
}

.App {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
  padding: 10px;
}

.input {
  display: flex;
  justify-content: center;
}

input {
  margin: 0px 5px 0px 5px;
}

button {
  background-color: aquamarine;
  font-weight: bold; 
  padding: 4px;
  border-radius: 5px;
  margin-left: 15px;
}

.strikeThrough {
  text-decoration: line-through;
}